/*MAIN COLORS USED 
Blue: #003399
Green: #006633
White: #fff

Hover: #a5a5a5
*/

@font-face{
    src: url(fonts/InterstatePlusRegular.otf);
    font-family: InterstatePlus;
}

html {
    scroll-behavior: smooth;
}
body{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: #fff;
	overflow-x: hidden;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif
}
ul{
	display: flex;
	justify-content: space-between;
	list-style: none;
}
a{
	display: block;
	text-decoration: none;
	font-size: 1.2em;
	transition: .3s;
}
main{
	margin: auto;
	width: 80%;
	height: 100%;
	background-color: #fff;
	flex: 1;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*MENU*/
header{
	position: relative;
	width: 100%;
	box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5)
}
.top{
	background: #003399;
	padding: 20px 0;
}
.container{
	position: relative;
	max-width: 960px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.top ul li{
	margin-right: 15px;
}
.top ul li a{
	color: #fff;
}
.top ul li a:hover{
	color: #222;
}
nav{
	background: #003399;
	position: relative;
	padding: 15px 0;
	z-index: 10;
}
.logo{
	position: absolute;
	width: 150px;
	height: 150px;
	top: -60px;
	left: 35%;
}
nav ul{
	width: 100%;
	transition: .3s;
}
nav ul li:nth-child(4){
	margin-left: 250px;
}
nav ul li a{
	color: rgb(255, 255, 255);
	font-weight: bold;
}
nav ul li a:hover{
	color: #a5a5a5;
}
#menu{
	display: none;
}
label{
	color: #fff;
	font-size: 1.2em;
	padding: 15px 0;
	display: none;
}
@media (max-width: 960px){
	label{
		display: block;
	}
	.container{
		padding: 0 40px;
	}
	.social li:nth-child(1),
	.social li:nth-child(2){
		display: none;
	}
	.logo{
		left: 38%;
		top: -40px;
	}
	.logo img{
		width: 150px;
	}
	nav{
		padding: 0;
	}
	nav ul{
		position: absolute;
		top: 50px;
		left: -100%;
		background: #003399;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		width: 100%;
		height: 100vh;
	}
	#menu:checked ~ ul{
		left: 0;
	}
	nav ul li{
		margin: 0 !important;
		width: 100%;
	}
	nav ul li a{
		padding: 15px 0;
		margin: 10px 0;
		text-align: center;
	}
	nav ul li a:hover{
		background: #08306d;
	}
}
@media (max-width: 460px){
	.logo{
		top: -30px;
	}
	.logo img{
		width: 100px;
	}
}

/*IMAGE GALLERY AND MAIN CONTENT*/
#what{
	margin-top: 5rem;
	margin-left: 2rem;

}
p{
	margin-left: 2rem;
	margin-right: 3rem;
}
#who{
	margin-top: 2rem;
	margin-left: 2rem;
}
.image-sec-wrap {
	width: 100%;
	min-height: 100vh;
}
.image-sec {
	width: 85%;
	margin: 3em auto;
	border-bottom: 2px solid #353535;
	text-align: left;
}
.image-sec-middle {
	grid-template-columns: repeat(5,1fr);
	display: grid;
	justify-content: center;
	align-content: center;
	grid-template-rows: auto;
	grid-row-gap: 15px;
	grid-column-gap: 10px;
	padding: 20px 0;
}
.thumb-wrap {
	display: inline;
	cursor: pointer;
}
.thumb {
	display: block;
	margin: .4em;
	width: 100%;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	opacity: 1;
	transition: all .2s ease-in-out;
}
.thumb:hover {
	opacity: .8;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .5);
}
.thumb-info {
	display: inline-block;
	height: 100%;
	width: 100%;
	padding: .4em;
}
.thumb-title {
	color: #08306d;
	margin: 0;
	font-size: 1.2em;
}
.thumb-user {
	color: #006633;
	display: block;
	margin: 0;
	font-size: .9em;
}
.thumb-text {
	color: #000000;
	display: inline-block;
	margin: 0;
	font-size: .8em;
}
.image-sec-title {
	font-weight: bolder;
	font-size: 1.4em;
	color: #000000;
	margin: 5px 0 10px 10px;
}
.image-showmore {
	font-weight: bold;
	font-variant: all-petite-caps;
	display: block;
	color: #7e7e7e;
	padding: 10px;
	font-size: 1.2em;
}
.interested{
	display: grid;
}
#applications{
	text-align: center;
}
.interested button{
	margin: auto;
	margin-bottom: 2rem;
}
@media only screen and (max-width: 1456px) {
	.image-sec-middle {
		grid-template-columns: repeat(4,1fr);
	}
}
@media only screen and (max-width: 1024px) {
	.image-sec-middle {
	  grid-template-columns: repeat(3,1fr);
	}
}
@media only screen and (max-width: 756px) {
  .image-sec-middle {
   grid-template-columns: repeat(2,1fr);
  }
}
@media only screen and (max-width: 496px) {
  .image-sec-middle {
   grid-template-columns: repeat(1,1fr);
  }
}

/*FOOTER*/
.footer {
	background-color: #003399;
	width: 100%;
	text-align: left;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 16px;
	padding: 50px;
	margin-top: 50px;
	flex-shrink: 0;
}
  
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
	display: inline-block;
	vertical-align: top;
  }
  
  
  /* footer left*/
.footer .footer-left {
	width: 33%;
	padding-right: 15px;
}
  
.footer .about {
	line-height: 20px;
	color: #ffffff;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
  
.footer .about span {
	display: block;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
  
.footer .icons {
	margin-top: 25px;
}
  
.footer .icons a {
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}

.footer .icons a span{
	font-size: 14px;
}
  
  
/* footer center*/
.footer .footer-center {
	width: 30%;
}
  
.footer .footer-center i {
	background-color: #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
  
.footer .footer-center p {
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin: 0;
}
  
.footer .footer-center p span {
	display: block;
	font-weight: normal;
	font-size: 14px;
	line-height: 2;
}
  
.footer .footer-center p a {
	color: #ffffff;
	text-decoration: none;
	font-size: 14px;
}
  
  
/* footer right*/
.footer .footer-right {
	width: 35%;
}
  
.footer h2 {
	color: #ffffff;
	font-size: 36px;
	font-weight: normal;
	margin: 0;
}
  
.footer h2 span {
	color: #0099ff;
}
  
.footer .menu {
	color: #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
  
.footer .menu a {
	display: inline-block;
	line-height: 1.8;
	text-decoration: none;
	color: inherit;
}
  
.footer .menu a:hover {
	color: #a5a5a5;
}
  
@media (max-width: 767px) {
	.footer {
	  font-size: 14px;
	}
	.footer .footer-left,
	.footer .footer-center,
	.footer .footer-right {
	  display: block;
	  width: 100%;
	  margin-bottom: 40px;
	  text-align: center;
	}
	.footer .footer-center i {
	  margin-left: 0;
	}
}